/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -130px;
  /* Pad bottom by footer height + spacing */
  padding: 0 0 140px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 130px;
	background-color: #f5f5f5;
}

#footer p {
	height: 130px;
	padding: 0;
	margin: 0;
}
#footer .copyright {
	line-height: 25px;
	margin-top: 40px;
	float: left;
}
#footer .logos {
	float: right;
	line-height: 40px;
	text-align: center;
	margin-top: 5px;
	font-variant: small-caps;
	font-size: 110%;
}
#footer .logos span{
	vertical-align: middle;
}
#footer .logos .fwo {
	display: inline-block;
	margin-left: 15px;
	width: 128px;
	height: 50px;
	background-image: url('../images/fwo.png');
}
#footer .logos .ugent {
	display: inline-block;
	width: 99px;
	height: 70px;
	background-image: url('../images/ugent.png');
}

/* Footer adjustments for small screen
-------------------------------------------------- */

@media all and (max-width: 600px) {
  /* adjust footer height */
  #wrap {
	margin: 0 auto -70px;
  	padding: 0 0 70px;
  }
  #footer {
  	height: 70px;
  }
  #footer p {
  	height: 70px;
  }
  #footer .copyright {
  	line-height: 20px;
  	margin-top: 15px;
	font-size: 90%;
  }
  #footer .logos {
	  line-height: 28px;
	  margin-top: 2px;
	  font-size: 90%;
  }
  /* adjust logos (smaller) */
  #footer .logos .fwo {
  	margin-left: 5px;
	width: 51px;
  	height: 20px;
  	background-image: url('../images/fwo-small.png');
  }
  #footer .logos .ugent {
  	width: 42px;
  	height: 30px;
  	background-image: url('../images/ugent-small.png');
  }
}

/* nav bar */

.navbar-brand{
}

/* UNDER CONSTRUCTION MESSAGE AND CARTOON */

#under-construction {
	margin-top: 40px;
}
#under-construction .view-on-github {
	margin-top: 30px;
}

blockquote.cartoon {
	border-left: none;
}
blockquote.cartoon img {
	margin: 0 auto;
}
blockquote.cartoon img.visible-xs {
	max-width: 100%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 0 15px;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}