/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  /* The html and body elements cannot have any padding or margin. */
  height: 100%;
  padding: 0;
  margin: 0;
  /* Set minimum width */
  min-width: 320px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -130px;
  /* Pad bottom by footer height + spacing */
  padding: 0 0 140px;
  border: solid;
}

/* Set the fixed height of the footer here */
#footer {
	height: 130px;
	background-color: #f5f5f5;
    margin: 0;
}
#footer .logos{
	font-variant: small-caps;
	text-align: center;
}

/* Footer for small, medium, large screens */
#footer .hidden-xs .copyright {
	line-height: 25px;
	margin-top: 40px;
}
#footer .hidden-xs .logos {
	line-height: 35px;
	margin-top: 8px;
	font-size: 110%;
}
#footer .hidden-xs .logos img.fwo {
	margin-left: 15px;
	width: 128px;
	height: 50px;
}
#footer .hidden-xs .logos img.ugent {
	width: 99px;
	height: 70px;
}
#footer .hidden-xs .logos {
	float: right;
}

/* Footer for extra small screens */
#footer .visible-xs .copyright {
	text-align: center;
	line-height: 20px;
	margin: 11px 0 11px 0;
}
#footer .visible-xs .logos img.fwo {
	margin-left: 15px;
	width: 102px;
	height: 40px;
}
#footer .visible-xs .logos img.ugent {
	width: 80px;
	height: 56px;
}

/* nav bar */

.navbar-brand{
	background: url('../images/james-nav@2x.png') no-repeat 10px 7px;
	background-size: 35px 35px;
	padding-left: 50px;
	height: 100%;
}

/* UNDER CONSTRUCTION MESSAGE AND CARTOON */

#under-construction {
	margin-top: 40px;
}
#under-construction .view-on-github {
	margin-top: 30px;
}

blockquote.cartoon {
	border-left: none;
}
blockquote.cartoon img {
	margin: 0 auto;
}
blockquote.cartoon img.visible-xs {
	max-width: 100%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 0 15px;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}