<div id="footer" class="text-muted">
	<!-- footer for small, medium, large screens -->
	<div class="hidden-xs">
		<div class="container">
			<div class="copyright">
				JAMES website <!--maintained by Herman De Beukelaer--> <br />
				 &copy; 2014-2015
				 <a href="http://www.ugent.be/en" target="_blank">Ghent University</a>
			</div>
			<div class="logos">
                <div>
                    Supported By
                </div>
				<a href="http://www.ugent.be/en" target="_blank">
					<img class="ugent" src="/images/ugent@2x.png" />
				</a>
				<a href="http://www.fwo.be/en" target="_blank">
					<img class="fwo" src="/images/fwo@2x.png" />
				</a>
			</div>
		</div>
	</div>
	<!-- footer for extra small screens -->
	<div class="visible-xs">
		<div class="container">
			<div class="copyright">
				JAMES website <!--&middot; Herman De Beukelaer--> <br />
				 &copy; 2014-2015 <a href="http://www.ugent.be/en" target="_blank">Ghent University</a>
			</div>
			<div class="logos">
				<a href="http://www.ugent.be/en" target="_blank">
					<img class="ugent" src="/images/ugent@2x.png" />
				</a>
				<a href="http://www.fwo.be/en" target="_blank">
					<img class="fwo" src="/images/fwo@2x.png" />
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Custom JavaScript
================================================== -->
<script src="/js/james.min.js"></script>
